body{
    margin: 0;
}

*{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
h1, h2, p, pre{
    margin: 1vh 1vw;
}

.home, .projects{
    padding: 10vh 1vw;
}



/* Navigation Bar */
nav{
    background-color: #333;
    position: sticky;
    top: 0;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
}

li{
    list-style-type: none;
    padding: 2vw 0;
}

nav a:hover{
    background-color: #000000;
}

.navbar-item{
    margin: 0;
    padding: 2vw;
    color: #fff;
}


/* Home */
.home .name{
    color: #34bbeb;
}

.portrait{
    width: auto;
    height: 60vh;
    margin: auto;
    display: block;
}

pre{
  white-space: pre-line;
}

.down{
    width: 5vw;
    height: auto;
    margin: auto;
    display: block;
}

/* Projects */
.projects{
    background-color: #f6f6f6;
}

.group{
    margin: 0vh 0vw 3vh 0vw;
}

.row{
    display: flex;
}

.column{
    flex: 50%;
    margin: 1vh 0vw;
}

.column h2{
    display: inline-block;
}

.title{
    text-align: center;
}

hr{
    height: 0.5vh;
    width: 15vw;
    margin: auto;
    margin-bottom: 5vh;
    display: block;
    background-color: #000;
}

.icon{
    width: 3vh;
    height: auto;
    display: inline-block;
}
.image{
    width: 40vw;
    height: auto;
    margin: auto;
    display: block;
}

/* Contact */
.contact{
    padding: 1vw;
    margin: auto;
    display: block;
    text-align: center;
}
.contact .icon{
    padding: 1vw;
}

.contact .icon:hover{
    background-color:#eee;
}